In [1]:
import requests

In [157]:
from key import local

ValueError: Attempted relative import in non-package

In [133]:
BASE = 'http://api.meetup.com/'
BASE += '/find/groups'
BASE

'http://api.meetup.com//find/groups'

In [134]:

list_o_json

[]

In [154]:
key = local.key

list_o_json = []
payload = {'topic_id': '1064',
          'key': key,
          'country': 'US',
           'radius': 'global',
           'page': '200',
           'offset': 0,
           'desc':'true'
          }

NameError: name 'local' is not defined

In [132]:
query = 200
while query == 200:
    r = requests.get(BASE, params=payload)
    list_o_json += r.json()
    query = len([l for l in r.json()])
    payload['offset'] += 1
    print 'query len result %s' % query

200

Empty DataFrame
Columns: [category, city, country, created, description, group_photo, id, join_mode, lat, link, lon, members, name, next_event, organizer, photos, score, state, timezone, urlname, visibility, who]
Index: []

[0 rows x 22 columns]

In [138]:
df = pd.DataFrame(list_o_json)

In [149]:
df.groupby('city').members.sum().sort_values(ascending=False)

city
New York            75382
San Francisco       72529
Mountain View       27998
Cambridge           20012
London              18357
Washington          12514
Austin              11336
Paris               10999
Palo Alto           10757
Boston               8844
Seattle              8784
Bangalore            8013
Berlin               7837
Sunnyvale            7787
Toronto              7784
Tel Aviv-Yafo        7469
Los Angeles          6846
Portland             6735
Melbourne            6645
Santa Monica         6555
Vancouver            6480
Atlanta              5930
Chicago              5928
Delhi                5727
Stockholm            5464
Sydney               5019
Dublin               4910
São Paulo            4645
Minneapolis          4405
Madrid               4170
                    ...
Mendoza                24
Mahone Bay             23
Matamoros              22
Winter Park            22
Karlsruhe              21
Ravensburg             20
Bilbao                 19
Bratislava             19
Sale                   19
Fisciano               19
Manhattan              19
Catania                19
Puebla                 18
Victoria               18
Bucharest              18
Georgetown             17
Huntington Beach       17
Plettenberg Bay        15
Alingsås               15
Szczecin               15
Fort Worth             15
Addis Abeba            14
Puerto Vallarta        13
Lincoln                13
Porterville            12
Santarém               11
Sofia                   8
Cagliari                8
Nelson                  7
Coeur D Alene           2
Name: members, dtype: int64

In [152]:
df.groupby('city').city.count().sort_values(ascending=False)

city
San Francisco       59
New York            53
London              28
Austin              20
Berlin              20
Chicago             18
Paris               17
Toronto             16
Bangalore           15
Cambridge           14
Seattle             14
Atlanta             13
Melbourne           12
Washington          12
Sydney              11
São Paulo           11
Boston              11
Los Angeles         11
Barcelona           10
Dublin              10
México City         10
Portland            10
Minneapolis         10
Amsterdam           10
Montréal             9
Vienna               9
Hyderabad            9
Santa Monica         8
Philadelphia         8
München              8
                    ..
Krasnodar            1
Princeton            1
Providence           1
Knoxville            1
Kingston             1
Kelowna              1
Kazan                1
Provo                1
Karlsruhe            1
Karachi              1
Kaohsiung            1
Puebla               1
Kakinada             1
Juiz de Fora         1
Puerto Madryn        1
Jerusalem            1
Puerto Vallarta      1
Quakertown           1
Jacksonville         1
Irving               1
Ravensburg           1
Ipswich              1
Indianapolis         1
Redondo Beach        1
Redwood City         1
Huntsville           1
Huntington Beach     1
Hualian              1
Hsinchu              1
Aachen               1
Name: city, dtype: int64

In [153]:
df.to_pickle('meetup.pickle')

In [158]:
df.to_json('pythonmeetup.json')