In [1]:
import requests

In [133]:
BASE = 'http://api.meetup.com/'
BASE += '/find/groups'
BASE

'http://api.meetup.com//find/groups'

In [134]:

list_o_json

[]

In [136]:
list_o_json = []
payload = {'topic_id': '1064',
          'key': '524b3f5724127522314b6246324b6352',
          'country': 'US',
           'radius': 'global',
           'page': '200',
           'offset': 0,
           'desc':'true'
          }

query = 200
while query == 200:
    r = requests.get(BASE, params=payload)
    list_o_json += r.json()
    query = len([l for l in r.json()])
    payload['offset'] += 1
    print 'query len result %s' % query

query len result 200
query len result 200
query len result 200
query len result 200
query len result 200
query len result 200
query len result 102

In [132]:

query

200

Empty DataFrame
Columns: [category, city, country, created, description, group_photo, id, join_mode, lat, link, lon, members, name, next_event, organizer, photos, score, state, timezone, urlname, visibility, who]
Index: []

[0 rows x 22 columns]

In [138]:
df = pd.DataFrame(list_o_json)

In [149]:
df.groupby('city').members.sum().sort_values(ascending=False)

city
New York            75382
San Francisco       72529
Mountain View       27998
Cambridge           20012
London              18357
Washington          12514
Austin              11336
Paris               10999
Palo Alto           10757
Boston               8844
Seattle              8784
Bangalore            8013
Berlin               7837
Sunnyvale            7787
Toronto              7784
Tel Aviv-Yafo        7469
Los Angeles          6846
Portland             6735
Melbourne            6645
Santa Monica         6555
Vancouver            6480
Atlanta              5930
Chicago              5928
Delhi                5727
Stockholm            5464
Sydney               5019
Dublin               4910
São Paulo            4645
Minneapolis          4405
Madrid               4170
                    ...
Mendoza                24
Mahone Bay             23
Matamoros              22
Winter Park            22
Karlsruhe              21
Ravensburg             20
Bilbao                 19
Bratislava             19
Sale                   19
Fisciano               19
Manhattan              19
Catania                19
Puebla                 18
Victoria               18
Bucharest              18
Georgetown             17
Huntington Beach       17
Plettenberg Bay        15
Alingsås               15
Szczecin               15
Fort Worth             15
Addis Abeba            14
Puerto Vallarta        13
Lincoln                13
Porterville            12
Santarém               11
Sofia                   8
Cagliari                8
Nelson                  7
Coeur D Alene           2
Name: members, dtype: int64

In [151]:
df.groupby('city').city.count().sort_values(ascending=)

city
Aachen               1
Aberdeen             1
Abu Dhabi            1
Accra                1
Addis Abeba          1
Addison              2
Adelaide             2
Ahmedabad            5
Albuquerque          2
Alingsås             1
Allston              1
Ames                 1
Amsterdam           10
Ann Arbor            2
Arlington            3
Asheville            1
Asunción             1
Athens               3
Atlanta             13
Auckland             2
Aurangabad           1
Aurora               1
Austin              20
Bacolod              1
Baltimore            3
Bangalore           15
Bangkok              3
Barcelona           10
Barranquilla         1
Basel                2
                    ..
Vadodara             1
Valencia             2
Vancouver            6
Varanasi             1
Victoria             1
Vienna               9
Vilnius              1
Vinnytsya            1
Viña del Mar         1
Walnut Creek         1
Warsaw               5
Washington          12
Waterloo             3
Wellington           3
West Palm Beach      1
Westlake Village     1
Wheaton              1
Winnipeg             1
Winston Salem        1
Winter Park          1
Worcester            1
Wroclaw              2
Yaoundé              1
Yorktown             1
Zagreb               2
Zürich               3
al-Kuwayt            1
ar-Ribat             1
az-Zahran            1
Łódź                 2
Name: city, dtype: int64